<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="appenderForRHYApplicationLog"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${rhy.home.dir}/logs/bas/rhyApplication.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${rhy.home.dir}/logs/bas/basApplication.%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="rhy.sample" level="debug">
        <appender-ref ref="appenderForRHYApplicationLog" />
    </logger>


    <!-- Setting the root level of logging to INFO -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
